.setting-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 150px;
	width: 48%;
	padding: 5px;
	height: 40px;
	color: white;
	border-radius: 5px;
	background-color: rgba(68, 68, 68, 0.6);
	border: none;
}

.setting-btn:hover{
	background-color: var(--accent-background);
}