@media screen and (max-width: 650px){
	#app .view-header{
		background-color: var(--secondary-background);
		border-bottom: 1px solid var(--gray-background-transparent);
	}
}
.view-header{
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	max-height: 70px;
	padding: 20px 0;
	background-color: var(--secondary-background);
	border-bottom: 1px solid var(--gray-background-transparent);
}

.view-header-info{
	display: flex;
	width: 80%;
}

.view-header-button{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	width: 40px;
	height: 40px;
	border: none;
	margin-left: 20px;
	padding: 25px;
}

.view-header-button:hover{
	cursor: pointer;
	border-radius: 50px;
	background-color: var(--content-background-transparent);
}

.view-header-icon{
	width: 30px;
	height: 30px;
}

.view-header-icon-lrg{
	width: 50px;
	height: 50px;
}
.view-header-text{
	display: flex;
	align-items: center;
	padding: 0 20px;
	min-height: 40px;
}