@font-face {
	font-family: 'BebasNeue', sans-serif;
	src: url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'AnonymousPro-Regular', monospace;
	src: url('./assets/fonts/AnonymousPro/AnonymousPro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'AnonymousPro-Bold', monospace;
	src: url('./assets/fonts/AnonymousPro/AnonymousPro-Bold.ttf') format('truetype');
}

html{
	font-family: "AnonymousPro-Regular", monospace;
	font-weight: 400;
	overflow-x: hidden;
	scrollbar-width: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "AnonymousPro-Regular", monospace;
	font-weight: 600;
}

#app{
	background-color: black;
}
